.toolBox-header {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid $primary-text-color;
    width: auto;
}

.toolBox {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    // margin: 0 1rem;
    width: -webkit-fill-available;
    background-color: $primary-fill-color;
}

.tool {
    // padding: 1rem;
    display: flex;
    flex-direction: column;
    // max-width: 30px;
    align-items: center;
}

.toolBoxIcon {
    max-height: 30px;
}

.toolBoxTitle {
    text-align: center;
    padding-top: 1rem;
    margin: 0;
    font-size: small;
}